@mixin positioning ($position: right) {
  @if ($position == 'right') {
    @content;
  }
  @else if ($position == 'left') {
    @content;
  }
}

@mixin arrow-box ($my-msg-color: black, $border-width: 5px, $style: solid, $position: right) {
  position: relative;
  @include positioning($position) {
    border-right: $border-width $style $my-msg-color;
  }
  @include positioning($position) {
    border-left: $border-width $style $my-msg-color;
  }
  &:after {
    @include positioning($position) {
      border-right-color: $my-msg-color !important;
    }
    @include positioning ($position) {
      border-left-color: $my-msg-color !important;
    }
    
  }
  &:after {
    @if ($position == 'right') {
      right: 100%; 
    }
    @else if ($position == 'left') {
      left: 100%; 
    }
    top: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    margin-top: -18px;
  }
}

p {
  height: 100px;
  width: 100px;
  margin-left: 100px;
  @include arrow-box(red, 3px, dashed, right);
}